
<!DOCTYPE html>
<html>
<head>
  <title>My Website</title>
  <script>
    var process = null;
    function runScript() {
      if (process == null || process.poll() != null) {
        process = new XMLHttpRequest();
        process.open('GET', 'Python/main.py', true);
        process.send();
      } else {
        process.abort();
        process = null;
      }
    }
  </script>
</head>
<body>
  <h1>Welcome! Please click button below to test AI Assistant</h1>
  <h3>Please make sure to update the required keys in the ".env" file</h3>
  <h4>Click on the Button below you will listen <strong>"Beep"</strong> sound which denotes <b>It's time to speak</b></h4>
  <button onclick="runScript()">Run AI Assistant</button>
</body>
</html>
